*{
    margin:0px ;
    padding: 0px;
    
  }
body {
  background:lightblue;
  font-family: sans-serif;
  height: 100vh;
}
.container1{
	width:400px;
	height: 400px;
	top: 50%;
	left: 50%;
	background: rgba(0, 0, 0, 0.5);
	color: #000;
	border-radius: 9px;

  position: absolute;
	transform: translate(-50%,-50%);
}
.header{
	padding-top: 50px;
	text-align: center;
	color: white;
	padding-bottom: 20px;
}
input{
    background: transparent;
  border: 0;
  border-bottom: 2px solid white;
  outline: 0;
  color: white;
  padding: 5px 5px;
  width: auto;
}
input[type=submit]{
	border: 2px solid white;
	border-radius: 3px;
}
input[type=submit][disabled]{
    background:grey;
}
#center1{
	padding-top:10px;
	padding-left: 50px;
	padding-bottom: 15px;
	text-align: left;
	color: white;
}
#submit{
    margin-top: 50px;
    margin-left: 170px;
	padding:5px;
	cursor: pointer;
	font-weight: 900;
   letter-spacing: 1px;
}
#message{
	color:rgb(252, 180, 180);
	font-size: 12px;
	padding-top:5px;
	margin-left: 18px;
	
}
h6{
    color:yellow;
    letter-spacing: 3px;
}
#show{
	color: white;
	}
	td input{
		margin-left: 18px;
	}
	
/* td input[type="text"], input[type="password"], input[type="email"]{
	margin-left: 5px;
} */
/*responsive*/
@media screen and (max-width:360px){
	.container1{
		width:330px;
		height: 400px;
		top: 50%;
		left: 50%;
		background: rgba(0, 0, 0, 0.5);
		color: #000;
	
	  position: absolute;
		transform: translate(-50%,-50%);
	}
	 #center1{
		padding-top:10px;
		padding-left: 25px;
		padding-bottom: 13px;
		text-align: left;
		color: white;
	}
	input{
		padding: 5px 0px;
	   width: auto;
	   /* margin-right: 25px; */
	  }	

	  #submit{
		/* margin-top: 50px; */
		margin-left: 137px;
		padding:5px;
		/* cursor: pointer; */
		font-weight: 900;
	   letter-spacing: 1px;
	}
}